# Python
__pycache__/
*.py[cod]
*$py.class
*.env
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Node
node_modules/
dist/
build/
npm-debug.log*

# Database
db.sqlite3
*.sqlite3

# Project specific
.tmp/
temp/
*~

# OS Files
.DS_Store
Thumbs.db
